.registration_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5vw;
    padding-top: 5vh;
}
.registerBlock {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 80vh;
}

.registerNaslov {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: start;
}
.korisnik_form {
    width: 50vw;
    height: 43vh;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #fff;
}

.registration_form {
    width: 50vw;
    min-height: 40vh;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #fff;
}
.registration_title {
    justify-self: left;
    width: 24.9vw;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-top: 10vh;
    font-weight: bold;
    background-color: #adadad;
    cursor: pointer;
}

.registration_title:hover {
    background-color: #d6d6d6;
    transition: background-color 0.15s ease;
}
.registration_title.clicked {
    background-color: #fff;
}
.registration_title:last-child {
    margin-left: auto;
}
.registration_input {
    margin-bottom: 15px;
}
.registration_input input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.submit_register {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.submit_register:hover {
    background-color: #454545;
}

.error_message {
    margin-top: 15px;
    text-align: center;
    height: 0vh;
    transition: height 0.2s ease;
}

.error_message.message {
    height: 2vh;
}

.error_message p {
    transition: display 0.5s ease;
}
.registerRole {
    display: flex;
    flex-direction: column;
    background-color: rgb(243, 243, 243);
    border-radius: 4px;
    width: 100%;
    padding: 0.5vw;
    gap: 1vh;
    margin-bottom: 2vh;
}

.registerRoleLabel {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-content: center;
}

.registerRoleLabel h5 {
    text-align: center;
    font-size: 0.8vw;
    color: gray;
}

.korisnikZaglavlje {
    display: flex;
    flex-direction: row;
    align-items: start;
    padding-top: 1vh;
    padding-bottom: 1vh;
    width: 100%;
    height: 4vh;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom: 1px groove gray;
}

.zaglavljeNaziv {
    align-self: center;
    width: 27%;
    text-align: left;
    border-right: 1px groove gray;
    font-size: 1vw;
}

.zaglavljePodatak {
    display: flex;
    width: 14.5%;
    height: 2vh;
    font-size: 0.65vw;
    text-align: center;
    gap: 1vw;
    justify-content: center;
    align-content: center;
}

.zaglavljePodatak:not(:last-child) {
    border-right: 1px groove gray;
}

.registerKorisnik {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 4vh;
    border-bottom: 1px groove rgb(182, 182, 182);
}

.registerKorisnik:hover {
    background-color: rgb(223, 223, 223);
}
.korisnikNaziv {
    width: 27%;
    height: 100%;
    text-align: left;
    color: gray;
}

.korisnikNaziv h5 {
    padding-top: 1.5vh;
    padding-left: 1vh;
    font-size: 0.8vw;
}

.korisnikUloga {
    display: flex;
    width: 14.5%;
    height: 100%;
    justify-content: center;
    align-content: center;
}

.korisnikUloga input {
    width: 1vw;
}

.korisnikUloga.ikona {
    width: 15%;
    gap: 1vw;
}
.korisnikUloga.ikona .fa-edit,
.korisnikUloga.ikona .fa-save,
.korisnikUloga.ikona .fa-delete-left {
    align-self: center;
    font-size: 1.2vw;
    color: black; /* Adjust color as needed */
    cursor: pointer;
}

.korisnikUloga.ikona .fa-edit:hover,
.korisnikUloga.ikona .fa-save:hover,
.korisnikUloga .fa-delete-left:hover {
    font-size: 1.4vw;
}
