* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80vh; /* Da bi središnji element bio centriran po visini */
}

.side {
    width: 500px; /* Možeš prilagoditi širinu prema potrebi */
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 20px 30px 0 30px;
    min-height: 70vh;
    max-height: 90vh;
}

.p_logo {
    display: flex;
    justify-content: space-between; /* Raspoređuje elemente na lijevo i desno */
    align-items: center; /* Poravnava elemente vertikalno na sredini */
    margin: 0px 20px 10px 20px; /* Opcionalno, dodajte margine po potrebi */
}

.p_logo p {
    margin-right: 50px; /* Uklanja marginu iz p elementa */
    font-weight: bold;
}
.middle-container {
    width: 800px;
    display: flex;
    flex-direction: column;
    height: 70vh;
    gap: 20px;
    align-items: center;
    margin: 20px 30px 0 30px;
    position: relative;
}

.middle {
    width: 800px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 56vh; /* Visina po vašem izboru */
    margin: 0 10px; /* Razmak oko middle div-a */
    flex: 1; /* Omogućuje middle div-u da se širi u preostalom prostoru */
}
.above-container {
    width: 800px;
    display: flex;
    justify-content: space-between; /* Razmak između above-middle divova */
    gap: 20px; /* Razmak između above-middle divova */
}

.above-middle {
    height: 8vh;
    top: 0;
    background-color: #f2f2f2; /* Za demonstraciju, možeš promijeniti boju */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 28px;
    width: 450px;
    z-index: 10;
    color: darkgray; /* Bela boja teksta */
    font-size: 18px; /* Veličina fonta */
    font-weight: bold; /* Podebljani tekst */
    text-align: center; /* Centriranje teksta */
    justify-items: center;
    cursor: pointer;
}

.above-middle:hover {
    background-color: #0056b3; /* Tamnija nijansa plave pri prelasku miša */
    transform: scale(1.02); /* Blago povećanje pri prelasku miša */
}
.above-middle.stil1 {
    width: 800px;
    height: 7vh;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 28px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.match-details {
    display: flex;
    flex-wrap: wrap; /* Allows wrapping to the next line if necessary */
    justify-content: center;
    margin-top: 5px;
    gap: 10px;
}

.match_det {
    display: flex;
    flex-wrap: wrap; /* Allows wrapping to the next line if necessary */
    justify-content: center;
    gap: 60px;
}
.match-detail {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    gap: 5px;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #ccc; /* Boja linije */
}

.match-detail strong {
    color: #333;
}

.match-detail span {
    color: #666;
}

.above-middle:hover {
    background-color: #ddd;
}
.dropdown_container {
    display: flex;
    justify-content: center; /* Centriranje dropdown menija u roditeljskom kontejneru */
    gap: 300px; /* Razmak između dropdown menija */
}

.dropdown_container_p {
    text-align: center; /* Centriranje teksta */
    color: #28a745; /* Zelena boja teksta */
    font-weight: bold; /* Podebljani tekst */
    font-size: 16px; /* Prilagođena veličina fonta */
    margin-top: 10px; /* Razmak iznad teksta */
}

/* Kontejner za cijeli overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: flex-start; /* Poravnanje na vrhu */
    justify-content: center; /* Centriranje horizontalno */
    z-index: 1000;
    overflow: hidden;
}

/* Stil za modalni div */
.modal {
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1001;
    max-width: 900px;
    width: 90%;
    margin-top: 20vh; /* Razmak od vrha u visini viewporta, prilagodite prema potrebi */
}

.modal_button {
    padding: 12px;
    border: 1px solid #bbb; /* Dodan obrub */
    border-radius: 6px; /* Zaobljeni rubovi */
    background-color: #e0e0e0; /* Pozadina dugmadi */
    color: #333; /* Boja teksta */
    font-size: 14px; /* Prilagođen font */
    font-weight: normal; /* Normalna težina fonta */
    cursor: pointer; /* Promena kursora pri prelasku miša */
    transition: background-color 0.3s, transform 0.2s; /* Efekti prelaska */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Blagi sjaj */
}
/* Stil za modalne elemente */
.modal-content {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Razmak između elemenata unutar modala */
}

/* Stil za formu */
.form-group {
    display: flex;
    flex-direction: column;
}

/* Stil za labele */
.label {
    margin-bottom: 5px;
    font-weight: bold;
}

/* Stil za dropdown menije unutar modala */
.dropdown_container {
    display: flex;
    flex-wrap: wrap; /* Omogućava više redova */
    justify-content: space-between; /* Razmak između dropdown menija */
    gap: 20px; /* Razmak između elemenata */
    margin-bottom: 20px; /* Razmak ispod dropdown menija */
}

/* Stil za inpute */
.input-field,
.datepicker {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

.back_div {
    display: flex;
    justify-content: center; /* Centriranje horizontalno */
    align-items: center; /* Centriranje vertikalno */
    width: 100px;
    height: 50px; /* Dodano kako bi se kontrolirala visina */
    margin: 0 auto;
    margin-top: 20px;
    background-color: #f0f0f0; /* Pozadina button_div-a */
    border-radius: 4px; /* Za zaobljene rubove */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Blagi sjaj */
    cursor: pointer; /* Da izgleda kao dugme */
    transition: background-color 0.3s; /* Efekt prijelaza pri promjeni boje */
}

.back_div:hover {
    background-color: #e0e0e0; /* Promjena boje pri prelasku miša */
}

.back_div button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
    font-size: 16px;
    cursor: pointer;
    border: none; /* Ako želite da button bude bez obruba */
    background-color: transparent; /* Ako želite da button bude bez pozadine */
}

.back_div .fa-circle-arrow-left {
    font-size: 24px; /* Adjust size as needed */
    color: black; /* Adjust color as needed */
}

.statistics {
    width: 90%;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    max-height: 300px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.statistics p {
    font-size: 16px; /* Tekst u statistikama, ako ima, u manjoj veličini */
    color: #333; /* Tamno siva za bolju čitljivost */
}

.statistics table,
.modal table {
    width: 100%;
    border-collapse: collapse;
}

.statistics th,
.statistics td,
.modal th,
.modal td {
    padding: 10px;
    text-align: left;
}

.statistics td,
.modal td {
    border-bottom: 1px solid #ccc;
}

.statistics thead th,
.modal thead th {
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
}

.modal td:hover {
    cursor: pointer;
}
.table-container {
    max-height: 300px; /* Maksimalna visina tablice, dovoljno za 3 retka */
    overflow-y: auto; /* Vertikalno skrolanje */
}

.modal .table-container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

tr {
    transition: background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.highlight {
    background-color: lightgreen;
    box-shadow: 0 4px 8px rgba(0, 128, 0, 0.3);
}

.highlight2 {
    background-color: red;
    box-shadow: 0 4px 8px rgba(0, 128, 0, 0.3);
}

.button_div.statistika {
    width: 50%;
    height: 40px;
}
.button_cell.statistika {
    padding: 0px;
}
