.homepage {
    text-align: center;
    padding: 40px;
    height: 100vh;
    max-height: 100vh;
    position: relative;
    overflow: hidden;
}

.pozadina {
    display: grid;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    overflow: hidden;
    box-shadow: 12px 0px 12px 16px rgb(3, 8, 46);
}

.naslov {
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-self: center;
    align-self: center;
    justify-content: center;
    top: 3vh;
    width: 100vw;
    gap: 20vw;
    background-color: rgb(61, 61, 61);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    z-index: 1;
}
.naslov h1 {
    width: 20vw;
    padding-bottom: 1vh;
    padding-top: 2vh;
    font-size: 1.5vw;
    color: rgb(197, 197, 197);
}

.homePodatci {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: 10vh;
    align-items: center;
    justify-content: center;
    left: 0;
    width: 100vw;
    height: 80vh;
    z-index: 10;
    gap: 10vw;
}

.homeUtakmica {
    top: 0;
    left: 20vw;
    width: 30vw;
    height: 30vh;
    background-color: white;
}

.homeIgrac {
    width: 25vw;
    height: 25vh;
}

.homePodatak {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60%;
    align-items: center;
    justify-content: center;
    border-bottom: 1px groove rgb(204, 204, 204);
}

.homePodatak h4 {
    text-align: center;
    align-content: center;
    height: 100%;
    width: 33.333%;
    border-left: 1px groove rgb(204, 204, 204);
    border-right: 1px groove rgb(204, 204, 204);
}

.homePodatak h4:first-child {
    border-left: none;
}

.homePodatak h4:last-child {
    border-right: none;
}
.homePodatak h5 {
    text-align: center;
    width: 33.333%;
}

.homePodatak1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40%;
}
.homePodatak1 h4 {
    text-align: center;
    width: 50%;
    align-content: center;
}

.homePodatak1 h4:first-child {
    border-right: 1px groove rgb(204, 204, 204);
}
