.homepage {
    display: grid;
    text-align: center;
    height: 100vh;
    max-height: 100vh;
    background-color: rgb(240, 240, 240);
    position: relative;
    overflow: hidden;
    align-content: center;
    justify-content: center;
}

.homeContainer {
    display: flex;
    flex-direction: row;
    width: 90vw;
    height: 70vh;
    justify-content: center;
    align-self: center;
    justify-self: center;
    gap: 5vw;
    margin-top: 10vh;
}
.pozadina {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 15vh;
    z-index: 0;
    overflow: hidden;
    box-shadow: 2px 0px 4px 3px rgb(0, 0, 0);
}
.pozadina h1 {
    position: relative;
    margin-top: 8vh;
    margin-left: 3vw;
    text-align: left;
    color: white;
    padding: 5px;
    font-size: 2vw;
    margin-bottom: 20px;
    width: 30vw;
    z-index: 10;
}

.homeSlika {
    position: absolute;
    width: 100%;
    z-index: 1;
}
.homePodatci {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    justify-self: center;
    left: 0;
    width: 60%;
    height: 80%;
    z-index: 10;
    padding: 2vw;
    gap: 3vw;
    background-color: white;
}

.homeUtakmicaPoveznica {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 35vh;
    gap: 2vh;
}

.homePoveznica {
    width: 100%;
    bottom: 0;
    background-color: rgb(240, 240, 240);
    border-radius: 4px;
    height: 8vh;
    align-content: center;
}

.homePoveznica:hover {
    transform: scale(1.02);
    transition: background-color 0.3s ease, transform 0.3s ease;
    background-color: rgb(221, 221, 221);
}
.homePoveznica h2 {
    font-size: 1vw;
    color: rgb(153, 153, 153);
}
.homeUtakmica {
    top: 0;
    left: 20vw;
    width: 100%;
    height: 75%;
    background-color: rgb(240, 240, 240);
    border-radius: 4px;
}

.posljednjaUtakmica {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.posljednjaUtakmica h2 {
    text-align: left;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    font-size: 0.8vw;
    color: rgb(124, 124, 124);
    width: 90%;
    border-bottom: 1px groove rgba(151, 151, 151, 0.767);
}
.homeIgrac {
    display: flex;
    flex-direction: column;
    width: 32vw;
    height: 35vh;
    gap: 2vh;
    background-color: rgb(240, 240, 240);
}

.homeIgrac h2 {
    align-self: center;
    text-align: left;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    color: rgb(124, 124, 124);
    width: 90%;
    font-size: 0.8vw;
    border-bottom: 1px groove rgba(151, 151, 151, 0.767);
}

.homeIgracPodatci {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.homeIgracGornji {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 3vw;
    width: 100%;
    height: 55%;
    border-bottom: 1px groove white;
}

.homeIgracDetalji {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 1.5vh;
}
.homeIgracDetalji h4 {
    width: 75%;
    overflow: wrap;
    text-align: left;
    font-size: 1.2vw;
    padding-bottom: 1vh;
    color: rgb(61, 61, 61);
    border-bottom: 1px groove rgb(211, 211, 211);
}
.homeIgracDetalji h5 {
    width: 100%;
    text-align: left;
    color: rgb(53, 53, 53);
    font-weight: 500;
}
.slikaIgrac {
    display: flex;
    height: 100%;
    width: 100%;
}
.homeIgracDonji {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40%;
}

.slikaNajboljiIgrac {
    width: 110%;
    bottom: 0;
    height: auto;
    object-fit: fill;
}
.lijeviPodatak {
    width: 45%;
    height: 100%;
    align-content: center;
    border-right: 1px groove white;
}

.lijeviPodatak h4 {
    font-weight: 500;
}

.lijeviPodatak:hover {
    transform: scale(1.02);
}
.desniPodatak {
    align-content: center;
    width: 55%;
    gap: 2vh;
}

.desniPodatak h3 {
    font-size: 1vw;
    font-weight: 500;
    color: rgb(53, 53, 53);
}

.desniPodatak h4 {
    font-size: 1.5vw;
}
.homePodatak {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20vh;
    align-items: center;
    justify-content: center;
    border-bottom: 1px groove rgb(204, 204, 204);
}

.zadnja {
    height: 90%;
}

.homePodatak.zadnja h6 {
    color: rgb(0, 0, 0);
    font-weight: 400;
    border-bottom: 1px groove rgb(179, 179, 179);
}

.homePodatak.zadnja h4:first-child:hover {
    transform: scale(1.02);
}

.homePodatak.zadnja h4:last-child:hover {
    transform: scale(1.02);
}

.homePodatak h4:first-child:hover {
    transform: scale(1.02);
}

.homePodatak h4:last-child:hover {
    transform: scale(1.02);
}
.homePodatak h4 {
    text-align: center;
    align-content: center;
    color: rgb(179, 179, 179);
    height: 100%;
    padding: 0.5vw;
    font-size: 0.8vw;
    width: 33.333%;
}
.homePodatak h5 {
    text-align: center;
    align-content: center;
    width: 100%;
    font-size: 0.8vw;
    color: rgb(158, 158, 158);
}
.homePodatak h6 {
    text-align: center;
    width: 100%;
    color: rgb(59, 59, 59);
    font-size: 1vw;
    font-weight: 500;
    margin-top: 2vh;
    border: 1px groove rgb(179, 179, 179);
    border-bottom: none;
    padding: 0.5vw;
}

.homePodatak h3 {
    text-align: center;
    width: 100%;
    color: black;
    font-size: 1.4vw;
}
.homePodatak1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40%;
}
.homePodatak1 h4 {
    text-align: center;
    width: 50%;
    align-content: center;
    color: rgb(0, 0, 0);
}

.homePodatak1 h4:first-child {
    border-right: 1px groove rgb(204, 204, 204);
}

.homeSidePodatci {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 80%;
    background-color: white;
    z-index: 10;
    overflow: auto;
    border-radius: 4px;
}

.homeSidePodatci h2 {
    padding-top: 2vh;
    padding-bottom: 1vh;
    align-self: center;
    width: 95%;
    text-align: left;
    font-size: 0.9vw;
    color: rgb(80, 80, 80);
    border-bottom: 1px groove rgb(204, 204, 204);
}
