.navigation-container {
    display: flex;
    gap: 17px;
    height: 35px;
    width: 100vw;
    justify-content: space-between;
    background-color: #0e1111;
    position: fixed;
    top: 0;
    padding-bottom: 2px;
    z-index: 15;
    box-shadow: 0px 6px 10px rgba(1, 0, 0, 0.5);
}

.navigation-tabs {
    display: flex;
    margin-top: 5px;
    gap: 10px;
}
.navigation-tab {
    position: relative;
}
.navigation-tab .luser {
    justify-items: start;
    width: 1.5vw;
    height: 2.5vh;
}
.navigation-tab .luser:hover {
    transform: scale(1.05);
}
.navigation-tab:not(:last-child)::after {
    content: '';
    position: absolute;
    right: -20px;
    top: 10%;
    height: 70%;
    width: 1px;
    background-color: white;
}

.navigation-tab a {
    text-decoration: none;
    cursor: pointer;
    margin-left: 30px;
    color: white;
    font-weight: 500;
    font-size: 0.9vw;
}

.navigation-tab a:hover {
    font-weight: bold;
}

.navigation-logOut {
    display: flex;
    margin-top: 5px;
    font-size: 0.9vw;
    gap: 10px;
}
.navigation-logOut1 a {
    text-decoration: none;
    cursor: pointer;
    margin-right: 30px;
    font-size: 0.9vw;
    color: white;
}

.navigation-logOut1 {
    text-decoration: none;
    cursor: pointer;
    margin-right: 30px;
    color: white;
    justify-items: center;
}
.navigation-logOut1 a:hover {
    font-weight: 600;
}

.navigation-logOut1:hover {
    font-weight: 600;
}

.navigation-logOut1 .luser {
    width: 90%;
    height: 90%;
    align-items: center;
    justify-self: center;
}
.navigation-logOut1 .luser:hover {
    transform: scale(1.03);
}
.tutorial-tab {
    position: relative;
}

.tutorial-dropdown {
    position: absolute;
    top: 100%; /* Position below the tab */
    left: 0;
    width: 30vw; /* Adjust width as needed */
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 1000; /* Ensure it's above other elements */
    padding: 1vh 0; /* Padding around the dropdown content */
}
/* Optional: Add some additional styling for card items */
.tutorial-dropdown .card {
    width: 100%; /* Ensure full width inside dropdown */
    margin: 0;
    padding: 0.5vh 1vw;
    border-bottom: 1px solid #ddd; /* Add a divider between items */
}

.tutorial-dropdown .card:last-child {
    border-bottom: none; /* Remove divider from the last item */
}
