.statistika_container {
    display: grid;
    width: 90vw;
    max-height: 90vh;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.statistika_naslov {
    text-align: center;
    font-size: 1.2vw;
    margin-bottom: 20px;
}

.statistika_menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.statistika_menu form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sezona_text {
    margin-left: 22px;
}
.statistika_menu select {
    margin-left: 20px;
    width: 12%;
    padding: 10px;
    font-size: 0.8vw;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
}

.statistika_menu select:focus {
    outline: none;
    border-color: #007bff;
}

.tablicaStat {
    display: flex;
    max-height: 60vh;
    overflow: auto;
}

.tablicaStat thead th {
    position: sticky;
    top: 0;
}
.data-table {
    width: 100%;
    border-collapse: collapse;
}

.data-table th,
.data-table td {
    border: none;
    padding: 0.4vw;
    font-size: 0.6vw; /* Reduced font size */
}

.data-table th {
    background-color: #f2f2f2;
    text-align: center;
}

.data-table td {
    text-align: center;
}
.data-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.data-table tr:hover {
    background-color: #ddd;
}
