.tablicaPage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(196, 196, 196);
}
.query_container {
    width: 70vw;
    margin: 0 auto;
    margin-top: 7vh;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 4px;
    background-color: rgb(221, 221, 221);
}

.query_title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.izbor {
    margin-bottom: 5px;
}
.dropdown_menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 10px;
}

.dropdown_menu form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dropdown_menu select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: rgb(230, 230, 230);
    cursor: pointer;
}

.dropdown_menu select:focus {
    outline: none;
    border-color: darkgreen;
}

.button_query {
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button_query:hover {
    background-color: #0056b3;
}

.error_message {
    color: red;
    font-weight: bold;
    text-align: center;
}

.data-table1 {
    width: 100%;
    border-collapse: collapse;
}

.data-table1 th,
.data-table1 td {
    border: none;
    padding: 8px;
}

.data-table1 th {
    background-color: rgb(230, 230, 230);
    text-align: center;
}

.data-table1 td {
    text-align: center;
}
.data-table1 tr:nth-child(even) {
    background-color: #d4d4d4;
}

.data-table1 tr:hover {
    background-color: #ececec;
}

.table_link a {
    font-size: 0.9vw;
    text-decoration: none;
    color: inherit;
    font-weight: 750;
    text-align: left;
}
.table_link a:hover {
    font-weight: bold;
}
