.del_igr_container {
    display: flex;
    flex-direction: column;
    width: 100%; /* Osigurava da se kontejner proširi da bi zauzeo celu dostupnu širinu */
    padding: 10px; /* Dodaje malo razmaka oko sadržaja */
    margin-bottom: 10px;
    gap: 10px;
    box-sizing: border-box; /* Uključuje padding i border u ukupnu širinu i visinu */
}
.del_igr_buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.del_igr_button_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    width: 5vw;
}

/* delegat_igraci.css */
@keyframes slideIn1 {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes slideIn2 {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes slideIn11 {
    0% {
        opacity: 1;
        transform: translateX(0px) translateY(0px);
    }
    60% {
        opacity: 1;
        transform: translateX(-60px) translateY(0px);
    }
    100% {
        opacity: 0;
        transform: translateX(-60px) translateY(80px); /* Pomak lijevo i dolje */
    }
}

@keyframes slideIn22 {
    0% {
        opacity: 1;
        transform: translateX(0px) translateY(0px);
    }
    60% {
        opacity: 1;
        transform: translateX(60px) translateY(0px);
    }
    100% {
        opacity: 0;
        transform: translateX(60px) translateY(-80px); /* Pomak desno i gore */
    }
}

@keyframes slideIn222 {
    0% {
        opacity: 1;
        transform: translateX(0px) translateY(0px);
    }
    100% {
        opacity: 0;
        transform: translateX(0px) translateY(-80px); /* Pomak desno i gore */
    }
}
.del_igr_button_item.animate1 {
    animation: slideIn1 0.5s ease-in-out;
}

.del_igr_button_item.animate11 {
    animation: slideIn11 0.75s ease-in-out;
}

.del_igr_button_item.animate2 {
    animation: slideIn2 0.5s ease-in-out;
}

.del_igr_button_item.animate22 {
    animation: slideIn22 0.75s ease-in-out;
}

.del_igr_button_item.animate222 {
    animation: slideIn222 0.75s ease-in-out;
}
.dres_ikona {
    position: relative;
    display: inline-block;
    font-size: 1.5vw; /* Promijenite veličinu ikone prema potrebi */
    cursor: pointer;
}

.dres_ikona.oznacen {
    background-color: rgba(
        255,
        215,
        0,
        0.3
    ); /* Light yellow with transparency */
    border: 2px solid rgba(255, 215, 0, 0.7); /* Solid border in a more opaque color */
    border-radius: 8px; /* Rounded corners for a more modern look */
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.5); /* Subtle shadow to lift the element */
    transition: all 0.1s ease-in-out; /* Smooth transition effect for when the class is added or removed */
    padding: 1px; /* Add some padding inside the div for better visual balance */
}

.broj_dresa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Boja broja na dresu */
    font-weight: bold;
    font-size: 1vw; /* Veličina broja na dresu */
    text-shadow: 1px 1px 2px black; /* Dodajte sjenku kako bi broj bio vidljiv na ikoni */
}

.del_igr_button_item p {
    font-size: 0.8vw;
}

.error_del_Overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10; /* Ensures it's above other content */
    border-radius: 8px; /* Match with .dres_ikona if rounded */
}

/* Error message modal */
.error_del_Modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 11; /* Ensure modal is above overlay */
    width: 80%; /* Adjust width as needed */
}

.error_del_Message {
    color: red;
    font-weight: bold;
}
.blur {
    filter: blur(5px);
    pointer-events: none;
}

.icon {
    width: 60px;
    height: 60px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
}

.icon-entry {
    background-image: '/green-arrow-up.png'; /* Putanja do vaše SVG ikone za ulaz */
}

.icon-exit {
    background-image: '/public/red-arrow-down.png'; /* Putanja do vaše SVG ikone za izlaz */
}
