.del_igr_container {
    display: flex;
    flex-direction: column;
    width: 100%; /* Osigurava da se kontejner proširi da bi zauzeo celu dostupnu širinu */
    padding: 10px; /* Dodaje malo razmaka oko sadržaja */
    box-sizing: border-box; /* Uključuje padding i border u ukupnu širinu i visinu */
}
.del_igr_buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.del_igr_button_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 125px;
}

.dres_ikona {
    position: relative;
    display: inline-block;
    font-size: 40px; /* Promijenite veličinu ikone prema potrebi */
    cursor: pointer;
}

.broj_dresa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Boja broja na dresu */
    font-weight: bold;
    font-size: 17px; /* Veličina broja na dresu */
    text-shadow: 1px 1px 2px black; /* Dodajte sjenku kako bi broj bio vidljiv na ikoni */
}

.del_igr_button_item p {
    font-size: 16px;
}
