/* Stilovi za dropdown menije */
.dropdown {
    position: relative;
    display: inline-block;
    align-items: center;
}
.dropdown_button {
    padding: 12px;
    border: 1px solid #bbb; /* Dodan obrub */
    border-radius: 6px; /* Zaobljeni rubovi */
    background-color: #e0e0e0; /* Pozadina dugmadi */
    color: #333; /* Boja teksta */
    font-size: 0.8vw; /* Prilagođen font */
    font-weight: normal; /* Normalna težina fonta */
    cursor: pointer; /* Promena kursora pri prelasku miša */
    transition: background-color 0.1s, transform 0.2s; /* Efekti prelaska */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Blagi sjaj */
}

.dropdown_button:hover {
    background-color: rgb(
        107,
        136,
        102
    ); /* Tamnija nijansa plave pri prelasku miša */
    color: black;
    transform: scale(1.02); /* Blago povećanje pri prelasku miša */
    transition: background-color 0.3s ease, color 0.3s ease;
}
.dropdown-menu {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    margin-top: 1vh;
    border-radius: 8px;
    padding: 5px; /* Smanjen unutrašnji razmak */
    z-index: 1;
    width: 15vw; /* Širina menija, prilagodite prema potrebi */
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3vw; /* Razmak između dugmadi */
}

.dropdown-item {
    flex: 1 1 calc(25% - 0.6vw); /* Četiri dugmadi u jednom redu */
    box-sizing: border-box;
    padding: 5px; /* Manji unutrašnji razmak */
    margin: 2px 0; /* Manji vertikalni razmak između redova */
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
    text-align: center; /* Tekst centriran unutar dugmadi */
    font-size: 0.6vw; /* Manja veličina fonta */
}

.dropdown-item:hover {
    background-color: rgb(
        107,
        136,
        102
    ); /* Tamnija nijansa plave pri prelasku miša */
    color: black;
    transform: scale(1.02); /* Blago povećanje pri prelasku miša */
    transition: background-color 0.1s ease, color 0.1s ease;
}
