.karijeraMomcadi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.info-box {
    height: 100%;
    background-color: #f9f9f9;
    width: 100%;
    text-align: center;
    position: relative;
}

.navigation {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.icon-button {
    width: 2vw;
    height: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.icon-button.disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.icon-button:hover:not(.disabled) {
    background-color: #e0e0e0;
    border-radius: 50%;
}

.icon-button i {
    font-size: 1.5vw;
    color: #007bff;
}

/* Postavka za data-container */
.data-container {
    transition: transform 0.5s ease, opacity 0.5s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backface-visibility: hidden; /* Sprječava prikazivanje stražnje strane prilikom rotacije */
}

/* Animacija za izlaz prema gore i dolazak prema gore */
.data-container.up.animating {
    animation: slideOutUp 0.5s forwards, slideInUp 0.5s forwards 0.5s;
}

/* Animacija za izlaz prema dolje i dolazak prema dolje */
.data-container.down.animating {
    animation: slideOutDown 0.5s forwards, slideInDown 0.5s forwards 0.5s;
}

/* Keyframes za izlaz i ulaz sa 3D rotacijom prema gore */
@keyframes slideOutUp {
    0% {
        transform: translate(-50%, -50%) rotateX(0deg);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -75%) rotateX(-90deg);
        opacity: 0;
    }
}

@keyframes slideInUp {
    0% {
        transform: translate(-50%, 25%) rotateX(90deg);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -50%) rotateX(0deg);
        opacity: 1;
    }
}

/* Keyframes za izlaz i ulaz sa 3D rotacijom prema dolje */
@keyframes slideOutDown {
    0% {
        transform: translate(-50%, -50%) rotateX(0deg);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, 25%) rotateX(90deg);
        opacity: 0;
    }
}

@keyframes slideInDown {
    0% {
        transform: translate(-50%, -125%) rotateX(-90deg);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -50%) rotateX(0deg);
        opacity: 1;
    }
}
